# Dependencies
node_modules/

# Environment
.env
backend/venv/
__pycache__/
*.pyc
*.pyo

# Firebase
serviceAccountKey.json

# Build output
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
